* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato";
}
.wrapper {
  display: flex;
  justify-content:center;
  padding-top: 12%;
  /* padding-right: 10%; */
  width: 100vw;
  height: 100vh;
  background-color:darkslategray;
  /* background-image:url('https://media.istockphoto.com/photos/big-white-question-mark-on-a-yellow-background-3d-rendering-picture-id1166678206?k=6&m=1166678206&s=612x612&w=0&h=z1bSc3UKg7lMVc555O9oNTcY8YbB5ySLzLfNy4sK5-U=');
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8; */
 
}

.welcome_text {
  width: 400px;
}

.welcome_form {
  
}

.welcome_form input,
.welcome_form button {
  display: block;
  width: 100%;
}

.welcome_form input {
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  text-align: center;
  border: none;
  border-bottom: 1px solid dodgerblue;
  margin-bottom: 15px;
}

.welcome_form input:focus {
  outline: none;

}

.welcome_form button {
  padding: 20px 0;
  border: none;
  border-radius: 100px;
  background-color:lightgrey;
  color:black;
  font-size: 22px;
  transition: 0.4s all;
  font-weight: bolder;
  
}

.welcome_form button:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  cursor: pointer;
  background-color: chartreuse;
}

.quiz {
  display: grid;
  grid-template-rows: 60px auto;
  width: 800px;
  height: 500px;
  background-color:mediumturquoise;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.quiz_header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color:mediumturquoise;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 100px;
}
.quiz_body {
  padding: 30px 30px;
}
.quiz_user {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
}

.quiz_timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  background-color: #341f97;
  color: #fff;
}
.quiz_body {
  background-color:silver
  
}

.option_group {
  list-style-type: none;
  margin: 30px 0;
}

.option {
  display: block;
  width: 300px;
  background-color:wheat;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: 0.4s all;
}

.option:hover {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* border: 2px solid #341f97; */
  color: #341f97;
  background-color:skyblue;
}
.option.active {
  background-color: #341f97;
  color: #fff;
}
.btn-next {
  border: none;
  padding: 15px 35px;
  background-color: #341f97;
  color: #fff;
  border-radius: 27px;
  transition: 0.4s all;
}

.btn-next:hover {
  cursor: pointer;
  background-color: #fff;
  color: #341f97;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.award_icon {
  display: block;
  font-size: 300px;
  color: #fff;
}

.username,
.userpoints,
.usertime {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
